# server configuration
HOST=
PORT=3000

# node-postgres configuration
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=notesapp
PGPORT=5432

# JWT token (run node REPL then run: require('crypto').randomBytes(64).toString('hex');)
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=1800

# Message broker
RABBITMQ_SERVER=amqp://localhost

# aws-sdk
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# Redis
REDIS_SERVER=127.0.0.1